/* .css-1a3lqbo {
    color: blueviolet;
    pointer-events: none;
 }

a.disabled {
    pointer-events: none;
    cursor: default;
}

a:-webkit-any-link {
    pointer-events: none;
    cursor: default;
} */

.css-i6s8oy {
    pointer-events: none;
    cursor: default;
}